---
import Container from "../components/Container.astro";
import Layout from "../layouts/Layout.astro";
import localeTextSite from "../locale/locale_text_site.json";
---

<Layout
  title={localeTextSite.pages.thankYou.title}
  description={localeTextSite.pages.thankYou.description}>
  <Container >
    <p>Thank You</p>
  <Container />
 
</Layout>
