/* styles.module.css */

/* Ссылка с фоном и стилями */
.link {
  text-align: center;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  display: inline-block;
}

/* Контейнер для формы */
.formContainer {
  overflow: auto;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Стиль для строки ввода */
.inputRow {
  width: 100%;
  padding: 5px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Кнопка отправки */
.submitBtn {
  display: block;
  padding: 5px;
  background: #4f46e5;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

/* Карта для отображения информации */
.card {
  margin-bottom: 20px;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

/* Эффект наведения для карты */
.card:hover {
  transform: scale(1.05);
}

/* Этикетка для карты */
.cardLabel {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #4f46e5;
}

/* Текст на карте */
.cardText {
  font-size: 16px;
  color: #4a5568;
  margin-bottom: 10px;
}

/* Жирный текст на карте */
.cardTextBold {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  background: #e2e8f0;
  border-radius: 5px;
  padding: 5px 10px;
}

/* Общие отступы */
.mb6 {
  margin-bottom: 24px;
}

.mb4 {
  margin-bottom: 16px;
}

/* Цвета текста */
.textGray100 {
  color: #f7fafc;
}

.textGray500 {
  color: #a0aec0;
}

.textGray700 {
  color: #4a5568;
}

.textGray600 {
  color: #718096;
}

.textBlue500 {
  color: #4299e1;
}
