/* BurgerMenuButton.module.css */
.burgerButton {
  position: fixed;
  z-index: 50;
  top: 1.5rem; 
  right: 1.5rem;
  padding: 5px;
  color: var(--burger-color);
  transition: color 0.3s ease; /* Smooth color transition */
}

.burgerButton:hover {
  color: var(--burger-hover-color); /* Hover color */
  
}

.burgerButton:focus {
  outline: none; /* Remove the outline */
}
