---
import { getCollection } from 'astro:content';
import textProductsPage from '../const/products/products.json';
import ProductList from '../components/react-components/products-react/product-list';

const productsColection = (await getCollection('products')).sort(
	(a, b) => b.data?.pubDate?.valueOf() - a.data?.pubDate?.valueOf(),
) || [];
---


<div class="flex flex-col">
  <div class="mt-10 text-left"> 
    <p class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
      {textProductsPage.title}
    </p>
    <p class="text-lg mt-4">
      {textProductsPage.subtitle}
    </p>
  </div>

  <div class="flex justify-center mt-6"> 
    <ProductList productsColection={productsColection} client:load />
  </div>
</div>
