.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pageButton {
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pageButton:hover {
    background-color: #f0f0f0;
  }
  
  .active {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }
  