.productList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .productList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 900px) {
  .productList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .productList {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 450px) {
  .productList {
    grid-template-columns: 1fr;
  }
}
